<footer>
    <div class="row">
        <div class="col pt-5">
            <h3 class="font-weight-bolder ">Follow Us</h3>
            <a href="# " class="myfa fa fa-twitter ">&nbsp;Twitter</a>
            <a href="# " class="myfa fa fa-facebook ">&nbsp;Facebook</a>
            <a href="# " class="myfa fa fa-google ">&nbsp;Google+</a>
        </div>
    </div>
</footer>