<header>
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top nav_cus">
        <!--<a class="navbar-brand" href="#">HOME</a>-->
        <ul class="navbar-nav ml-5">
            <li class="nav-item active pr-3">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item  pr-3">
                <a class="nav-link" href="/login">LOGIN</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="/signup">SIGNUP</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="/books">BOOKS</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="/books/new">ADD BOOKS</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="/authors">AUTHORS</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="/authors/new">ADD AUTHORS</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid nav_jump">
        <div class="head_custom">
            <h1>Library Management Sytems </h1>
        </div>
    </div>

</header>